
2_body/SJ_dat/1000y0.001dt/JSacc_1mil.npy
2_body/SJ_dat/1000y0.001dt/JSpos_1mil.npy
2_body/SJ_dat/1000y0.001dt/JSvel_1mil.npy
3_body/JSSacc_1mil.npy
3_body/JSSpos_1mil.npy
3_body/JSSvel_1mil.npy
3_body/SJS_dat/1000y0.001dt/JSSacc_1mil.npy
3_body/SJS_dat/1000y0.001dt/JSSpos_1mil.npy
3_body/SJS_dat/1000y0.001dt/JSSvel_1mil.npy
Mass/2pos.npy
*.npy
